<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>登陆</title>
    <script type="text/javascript" src="@Url.Content("~/layui/layui.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/layui/css/layui.css")" />
    <script type="text/javascript" src="@Url.Content("~/js/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/vue.js")"></script>
    <style>
        #main {
            width: 100%;
            height: 500px;
            background-color: #5E85C0
        }

        #logo {
            width: 100%;
            height: 50px;
        }

        #logoContent {
            width: 50%;
            height: 100%;
            margin: 0 auto;
        }

        #corpName {
            color: white;
            font-size: 20px;
            line-height: 50px;
            float: left
        }

        #prdName {
            color: white;
            font-size: 15px;
            line-height: 50px;
            float: right
        }

        #loginCon {
            width: 100%;
            height: 200px;
            margin-top: 140px;
        }

        #loginDiv {
            width: 300px;
            height: 100%;
            margin: 0 auto;
        }

        #subBtn {
            font-size: 14px;
            padding-top: 6px;
            padding-bottom: 6px;
            width: 300px;
            background-color: #FBEB1A;
            border-radius: 10px;
            cursor: pointer
        }
    </style>
</head>
<body>
    <div id="main">
        <div id="logo">
            <div id="logoContent">
                <label id="corpName">大盛公监测网关</label>
                <label id="prdName">DSG-GW-001</label>
            </div>
        </div>
        <div id="loginCon">
            <div id="loginDiv">
                <div style="font-size:24px;font-weight:bold;color:white;height:60px">
                    管理员密码
                </div>
                <form  method="post">
                    <div style="height:60px">
                        <input id="inputPwd" name="password" type="password" placeholder="请输入管理员密码" class="layui-input" style="border-radius:10px;" />
                    </div>
                    <div style="height:60px">
                        <input type="submit" id="subBtn" value="提  交" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var height = $(window).height();
            $("#main").css("height", height);
            onReady();
        });
        function onReady() {
            var loginMsg = "@ViewBag.loginMsg";
            console.log("loginMsg="+loginMsg);
            if (loginMsg != "") {
                $("#inputPwd").val("");
                layui.use('layer', function () {
                    var layer = layui.layer;
                    layer.open({
                        title: '登陆提示',
                        content: loginMsg
                    });
                });               
            }
        }
    </script>
</body>
</html>

