<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <script type="text/javascript" src="@Url.Content("~/layui/layui.all.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/layui/css/layui.css")" />
    <script type="text/javascript" src="@Url.Content("~/js/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/vue.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/css/dcf.css")" />
    @RenderSection("head", false)
</head>
@RenderBody()
</html>

